# Node.js
node_modules/
package-lock.json
pnpm-lock.yaml
yarn.lock

# Log Files
*.log

# Environment variables
.env

# SSL certificates
*.pem

# Operating System Files
.DS_Store
Thumbs.db

# Misc
*.txt