# Node.js
node_modules/
yarn.lock
package-lock.json

# Log Files
*.log

# Environment variables
.env.*

# SSL certificates
*.pem

# Editor directories and files
.idea
*.swp
*.swo
.vscode/
*.sublime-workspace

# Operating System Files
.DS_Store
Thumbs.db

# Dist / build
dist/
build/
